

.container {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}


.dot {
  height: 300px;
  width: 300px;
    left: 0px;
  top: 0px;
  background-color: grey;
    border-style: solid;
  border-radius: 50%;
  display: inline-block;
    border-width: 0.5px;
  position: relative;
}

.square {
  width: 300px;
  height:5px;
  left: 0px;
  top: 145px;
  background-color: red;
  border-style: solid;
  border-width: thin;
  position: relative;
}

.dot2 {
  height: 20px;
  width: 20px;
    left: 30px;
  top: 80px;
  background-color: LawnGreen;
  border-radius: 50%;
  display: inline-block;
  position: relative;
   animation-name: animation;
  animation-duration: 2s;
}


@keyframes animation {
  0%   {left:30px; top:130px;}
  50%   {left:30px; top:130px;}
  100% {left:30px; top:80px;}
}
