

.container {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}


.ball {
  height: 300px;
  width: 300px;
    left: 0px;
  top: 0px;
  background-color: grey;
    border-style: solid;
  border-radius: 50%;
  display: inline-block;
    border-width: 0.5px;
  position: relative;
}

.redline {
  width: 300px;
  height:5px;
  left: 0px;
  top: 145px;
  background-color: red;
  border-style: solid;
  border-width: thin;
  position: relative;
}


.wug1_up1 {
  height: 0px;
  width: 0px;
  left: -20px;
  top: 130px;
  background-color: LawnGreen;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}


.wug2_up1 {
  height: 0px;
  width: 0px;
  background-color: LawnGreen;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 30px;
  top: 130px;
  }

  .wug3_up1 {
    height: 0px;
    width: 0px;
    background-color: LawnGreen;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: -20px;
    top: 130px;
    }

    .dot1_up1 {
      height: 0px;
      width: 0px;
      background-color: LawnGreen;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      left: -50px;
      top: 150px;
      }

      .dot2_up2 {
        height: 0px;
        width: 0px;
        background-color: LawnGreen;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 50px;
        top: 100px;
        }

        .dot1_down1 {
          height: 0px;
          width: 0px;
          background-color: LawnGreen;
          border-radius: 50%;
          display: inline-block;
          position: relative;
          left: -20px;
          top: 60px;
          }

          .dot2_down2 {
            height: 0px;
            width: 0px;
            background-color: LawnGreen;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            left: 20px;
            top: 90px;
            }


.up2 {
  animation: up2 2s;
  }

  .up1 {
    animation: up1 2s;
    }

    .down2 {
      animation: down2 2s;
      }

      .down1 {
        animation: down1 2s;
        }

        .wug1 {
          animation: wug1 2s;
          }

          .wug2 {
            animation: wug2 2s;
            }

            .wug3 {
              animation: wug3 2s;
              }

@keyframes up2 {
        0%  {width: 20px; height:20px;}
        30%  {transform: translate(0px, 0px); width: 20px; height:20px;}
        99.5% {transform: translate(0px, -75px); width: 20px; height:20px;}
      100% {transform: translate(0px, -75px); width: 0px; height:0px;} }


@keyframes up1 {
    0%  {width: 20px; height:20px;}
    30%  {transform: translate(0px, 0px); width: 20px; height:20px;}
    99.5% {transform: translate(0px, -100px); width: 20px; height:20px;}
  100% {transform: translate(0px, -100px); width: 0px; height:0px;} }

  @keyframes down2 {
          0%  {width: 20px; height:20px;}
          30%  {transform: translate(0px, 0px); width: 20px; height:20px;}
          99.5% {transform: translate(0px, 70px); width: 20px; height:20px;}
        100% {transform: translate(0px, 70px); width: 0px; height:0px;} }


  @keyframes down1 {
      0%  {width: 20px; height:20px;}
      30%  {transform: translate(0px, 0px); width: 20px; height:20px;}
      99.5% {transform: translate(0px, 30px); width: 20px; height:20px;}
    100% {transform: translate(0px, 30px); width: 0px; height:0px;} }
